*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color:#f1f2f5;
}

a{
  text-decoration: none;
}

h1, h2, h3{
    margin: 0.3rem 0;
}

h1{
  margin-top: 2.4rem;
  }

h2{
  font-size: 1.5rem; 
  color: white; 
}

h3{
  font-size: 1rem;
  color:darkred;
}

.block{
  background-color:rgb(127, 148, 127);
  padding:1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row{
 display: flex;  /*Arrow and row next to each other in row*/
 justify-content: space-between; /*Split arrow and cart instead of sticking together*/
}

.center{
  text-align: center;
}

.logo{
height:320px;
width:80%;
margin-left: 10%;
}

.products{
display: grid;
text-align: center;
grid-template-columns: 1fr 1fr;
display: grid;
}

.product{
padding: 20px;
margin-left: 10%;
}

button{
font-size: 15px;
padding: 8px;
}

b{
  font-size: 1.4rem;
}

.cart{
  margin-top: 15px;
}

.cart-button{
  padding: 16px;
}

.home{
background-color:tan;
padding:1rem;
margin: 0.5rem;
border-radius: 0.5rem;
text-align: center;
}

.welcome{
  text-align:center;
  background-color:tan;
  padding-bottom:1.38%;
  border-radius: 0.5rem;
}

h4{
  font-size: 3.5em;
  color:darkred;
}

.wrapper{
width:80%;
/*height:600px;*/ /*When adding viewport to meta, no need to have height. Adjusted for you according to your screen.*/
overflow:hidden; 
overflow: hidden;
margin:0 auto;
}

img.small{
  width: 20rem;
  height:15rem;
}

.plus{
  cursor: pointer;
  float: right;
  background:rgb(224, 194, 194);
  margin-right: 20%;
  margin-top: 20%;
  }

  .left{
    margin-left: 2%;
    background-color: rgb(207, 200, 200);
    width: 70%;
    padding:1rem;
  }


  h3{
    font-size:1.7em;
    padding:8px;
    color:darkred;
  }


.chiliSup  {
  text-align: center;
  align-items: center;
  clear:both;
  width:50%;
  margin-left:30%;
  margin-bottom:10px;
  margin-top: 10px;
  overflow:hidden;
  padding-top:8px;
  padding-bottom:8px;
  background:white;
  border:2px solid black;
}
  
img.chili{
  margin:0 auto;
}


/* Tablets  (portrait and landscape) ----------- */
@media all and (min-width:768px) and (max-width:1279px) {
/* CSS rules */
  
  .products {
      width: 100%;
      text-align: center;
      margin-left:9px;
      margin-bottom:15px;   
  }

  img.small{
    width: 10rem;
    height:8rem;
    float:right;
    margin-left: 18px;
  }

.product{
  padding: 8px;
  }

  .plus{
    cursor: pointer;
    float: right;
    margin-top: 15%;
    margin-left:20px;
    background:rgb(224, 194, 194);
    margin-right:3px;
    }

    .left{
      float:left;
       margin-left: 25%;
       font-size: 0.90rem;
    }
  
  
  img.chili{
    margin-top: 2rem;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
.products {
    grid-template-columns: none;

  }

  img.small{
    width: 10rem;
    height:8rem;
    float:right;
    margin-left: 18px;
    margin-top: 10px;
  }

.product{
  padding: 8px;
  }

  .plus{
    cursor: pointer;
    float: right;
    margin-top: 25%;
    margin-left:5px;
    margin-right: 5px;
    background:rgb(224, 194, 194);
    }

    .left{
      float:left;
       margin-top: 5px;
       margin-right: 0;
       margin-left: 35%;
       width:30%;
       font-size: 0.90rem;
       padding:0;
       background-color: #f1f2f5;
    }
  
  .logo{
    height:180px;
    width:95%;
    margin-left: 10px;
    }
    
    h2{
      font-size: 0.9rem;
    }


.productsSup  {
    clear:both;
    width:90%;
    overflow:hidden;
    padding-top:8px;
    padding-bottom:8px;
    background:white;
    border:2px solid black;
    display: inline-block;
  }

.chiliSup  {
  width:85%;
  margin-left:25px;
}

  h4{
    font-size: 2em;
  }

  h3{
    font-size:1.2em;
  }
  
}