.search {
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    z-index: 10;
}

.search input {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

.locate {
    position: relative;
    top: 80vh;
    left: 2%;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}

.admin {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.hidden {
    display: none;
}